body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'K2D', sans-serif;
}

table{ 
    margin-left: 100px;
    thead{
        tr{
           th{
            height: 70px;
            padding-right: 50px;
            padding-left: 50px;
            }
        }
    }
    tbody{
        tr{
            td{
                padding-right: 40px;
                padding-left: 40px;
                padding-top: 30px;
                padding-bottom: 50px;
            }
        }
    }
}
.body-table{
    border-bottom: 1px solid rgba(128, 128, 128, 0.205);;
}
.tableHead{
    border: 1px solid rgba(128, 128, 128, 0.205);
    background-color: rgba(128, 128, 128, 0.205);
}

.container-default{
   padding-left: 50px;
   padding-right: 50px;
}

.orderCard{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 7px;
}
.orderCard-body{
    border-bottom: 1px solid rgba(128, 128, 128, 0.205);
    cursor: pointer;
    &:hover{
        background-color: #868e962b;
        transition: 0.3s;
    }
}
.logoOut-section{
    border: none;
}

.order-icon {
    background-color: #868e9667;
}
.order-notification{
    width: 38px;
    height: 22px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}
table{
    tbody{
        tr{
            &:hover{
                background-color: rgba(128, 128, 128, 0.147);
                transition: 0.3s;
                cursor: auto;
            }
        }
    }
}

.viewBtn{
    border: 1px solid black;
    font-weight: 500;
    &:hover{
        background-color: black;
        color: white;
    }
}

.preparedStatus, .statusAction, .statusReceived, .statusCanceled{
    width: 123px;
    height: 30px;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}
.preparedStatus{
    color: #17a2b8;
    background-color: #e3f4f6;
}
.statusAction{
    color: #ffc107;
    background-color: #fff8e1;
}
.statusReceived{
    color: #28a745;
    background-color: #e5f4e9;
}
.statusCanceled{
    color: #dc3545;
    background-color: #fbe7e9;
}


@media (max-width:576px) {
    header{
        width: 480px;
    }
    #nav-bar-input{
        display: none;
    }
    .nav-bar-right{
        display: none;
    }
    .first-container{
        width: 480px;
    }
    .row{
        margin-left: 0;
        padding-left: 10px;
        h1{
            font-size: 26px;
        }
    }
    .table-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .table-section-div{
        margin-left: 0 !important;
        overflow: hidden;
        width: 500px !important;
        height: 400px;
        
        table{
            margin-left: 0;
            width: 500px;
            display: flex;
            flex-direction: column;
            thead{
                tr{
                   th{
                    height: 70px;
                    padding-right: 65px;
                    padding-left: 0px;
                    }
                }
            }
            tbody{
                padding-left: 10px;
                tr{
                    td{
                        padding-right: 50px;
                        padding-left: 0px;
                        padding-top: 0px;
                        padding-bottom: 20px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .orderCard{
        height: 544px;
        width: 460px;
        width: 470px;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        margin-left: 10px;
        margin-right: 10px;
        gap: 30px;
        overflow: hidden;
        .customerProfil-img{
            margin-top: 40px;
            img{
                width: 160px;
                height: 160px;
                border-radius: 50%;
            }
        }
        .customerPr-name{
            display: flex;
            flex-direction: column;
            align-items: center;
            p:nth-child(1){
                font-size: 22px;
                font-weight: 600;
            }
            :nth-child(2){
                color: #868e96;
            }
        }
    }
    .orderCard-body{
        width: 420px;
        height: 48px;
        display: flex; 
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid;
        .orderIcon{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            i{
                font-size: 18px;
            }
            a{
                font-size: 16px;
                color: rgba(0, 0, 0, 0.766);
            }
        }
    }
    .order-icon{
        background-color: #868e963f;
    }
    .order-notification{
        width: 38px;
        height: 21px;
        background-color: white;
        border-radius: 20px;
        text-align: center;
    }
    .logoOut-section{
        border-bottom: none;
    }
    .service-block{
        width: 480px;
        height: 350px;
        .service-block-res{
            padding: 0;
            height: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;
            margin-right: 180px;
        }
        .moneyback-div{
            margin-left: 45px;
        }
    }
    .preparedStatus{
        padding-right: 10px;
        padding-left: 10px;
    }
    footer{
        width: 500px;
        height: 50px;
        .footer-first-section{
            width: 480px;
            height: 382px;
            display: flex;
            flex-direction: column;
            margin-top: 100px;
        }
        .footer-search-input{
            width: 450px;
            height: 161px;
        }
    }
    .footer-company-section, .footer-account-section {
        display: none;
    }
    .last-section-footer {
        width: 480px;
        height: 139px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        margin-top: 30px;
        .footer-right{
            display: flex;
            gap:0;
            text-align: center !important;
            a{
                font-size: 12px;
            }
            
        }
    }

}